/* [ FONT ]*/ 

@font-face {
  font-family: Raleway-Black;
  src: url("../fonts/raleway/Raleway-Black.ttf");
}

@font-face {
  font-family: Raleway-SemiBold;
  src: url("../fonts/raleway/Raleway-SemiBold.ttf");
}

@font-face {
  font-family: Raleway-Bold;
  src: url("../fonts/raleway/Raleway-Bold.ttf");
}


/* [ RESTYLE TAG ]* */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Raleway-SemiBold, sans-serif;
}

/*---------------------------------------------*/
a {
  font-family: Raleway-SemiBold;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
}

/*---------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  font-family: Raleway-SemiBold;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}

.g1 {
  font-family: "Cairo", sans-serif;
  font-weight: 700;
}

.g2 {
  font-family: "Cairo", sans-serif;
  font-weight: 700;
}

/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus:-moz-placeholder {
  color: transparent;
}
textarea:focus::-moz-placeholder {
  color: transparent;
}
textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #adadad;
}
input:-moz-placeholder {
  color: #adadad;
}
input::-moz-placeholder {
  color: #adadad;
}
input:-ms-input-placeholder {
  color: #adadad;
}

textarea::-webkit-input-placeholder {
  color: #adadad;
}
textarea:-moz-placeholder {
  color: #adadad;
}
textarea::-moz-placeholder {
  color: #adadad;
}
textarea:-ms-input-placeholder {
  color: #adadad;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

.container-contact100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.container-contact100 h1 {
  font-family: 'Sriracha', cursive;
  color: white;
  font-size: 60px;
  font-weight: 600;
  -webkit-text-stroke-width: 1.8px;
  -webkit-text-stroke-color: black;
}
.container-contact100 h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: white;
  font-weight: 600;
}

.wrap-contact100 {
  max-width: 960px;
  background: #fff;
  border-radius: 20px;
  padding: 66px 80px 59px 80px;
  border: 5px solid rgb(155, 49, 49);
  position: relative;
  box-shadow: 10px 10px 15px #380606;
}

/*==================================================================
[ Form ]*/

.contact100-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact100-form-title {
  display: block;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: #333333;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 50px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  background-color: transparent;
  margin-bottom: 35px;
}

.col-input{
  padding-left:10px;
  padding-right:10px;
}

.label-input100 {
  /* font-family: "Changa", sans-serif; */
  font-size: 18px;
  font-weight: 600;
  color: #555555;
  line-height: 1.5;
}

.input100 {
  display: block;
  width: 100%;
  background: #f2f2f2;
  border-radius: 2px;

  font-family: Raleway-SemiBold;
  font-size: 20px;
  color: #686868;
  line-height: 1.2;
  padding: 0 28px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  margin-top: 10px;
}

/*---------------------------------------------*/
input.input100 {
  height: 62px;
}

textarea.input100 {
  min-height: 162px;
  padding-top: 19px;
  padding-bottom: 13px;
}

.input100:focus {
  background: #e6e6e6;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
}

.wrap-contact100-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
}

.contact100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background-color: rgb(90, 184, 221);
  top: 0;
  left: -100%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  border: 2px solid rgb(90, 184, 221);
  border-radius: 5px;
}

.contact100-form-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.contact100-form-btn {
  background: rgb(0,172,238);
background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  
}
.contact100-form-btn span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.contact100-form-btn:before,
.contact100-form-btn:after {
  position: absolute;
  content: "";
  right: 0;
  color: rgba(2,126,251,1);
  top: 0;
   background: rgba(2,126,251,1);
  transition: all 0.3s ease;
}
.contact100-form-btn:before {
  height: 0%;
  width: 2px;
}
.contact100-form-btn:after {
  width: 0%;
  height: 2px;
}
.contact100-form-btn:hover{
  color: rgba(2,126,251,1);
   background: transparent;
  box-shadow: none;
}
.contact100-form-btn:hover:before {
  height: 100%;
}
.contact100-form-btn:hover:after {
  width: 100%;
}
.contact100-form-btn span:hover{
   color: rgba(2,126,251,1);
}
.contact100-form-btn span:before,
.contact100-form-btn span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
   background: rgba(2,126,251,1);
  transition: all 0.3s ease;
}
.contact100-form-btn span:before {
  width: 2px;
  height: 0%;
}
.contact100-form-btn span:after {
  width: 0%;
  height: 2px;
}
.contact100-form-btn span:hover:before {
  height: 100%;
}
.contact100-form-btn span:hover:after {
  width: 100%;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 992px) {
  .wrap-contact100 {
    padding: 66px 80px 59px 80px;
  }
}

@media (max-width: 768px) {
  .rs1-wrap-input100 {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-contact100 {
    padding: 66px 15px 59px 15px;
  }
}

/*==================================================================
[ Contact more ]*/

.contact100-more {
  display: block;
  max-width: 960px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: white;
  line-height: 1.4;
  text-align: center;
  padding: 40px 0 10px 0;
  font-weight: 500;
}